@use "../utilities/utilities.scss" as *;
.heading_pokedex {
  @include flex-dir(center, null);
  text-align: center;
  margin: 1.5rem 0;
  img {
    mix-blend-mode: normal;
    max-width: 50%;
  }
}

@media screen and (max-width: $TABLET) {
  .heading_pokedex {
    img {
      max-width: 85%;
    }
  }
}

@media screen and (max-width: $SMARTPHONE) {
  .heading_pokedex {
    img {
      max-width: 85%;
    }
  }
}
