@use "../utilities/utilities.scss" as *;

.pokemon_details {
  cursor: url("../assets/pb.png"), auto;

  list-style: none;
  text-align: center;
  @include flex-dir(center, center, column);
  box-shadow: 0px 4px 4px 4px rgb(0, 0, 0, 0.05);
  outline: 2px black;
  flex: 25%;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  max-width: 25%;
  &:hover {
    transform: translateY(-5px);
    transition: transform 0.5s ease-in-out;
  }

  .name,
  .type,
  .weight,
  .height {
    :first-child {
      font-weight: 500;
    }
  }
}


.grass{
  color: green;
  }
  
  .fire {
      color: orangered;
  }
  
  .water {
      color: aqua;
  }
  
  .bug{
      color: limegreen;
  }
  
  .psychic{
      color:purple;
  }