@use "../utilities/utilities.scss" as *;
#pokemons_list_section {
  position: relative;
}

#pokemons_list {
  @include flex-dir(center, null);
  flex-flow: row wrap;
  padding: 2rem;
  gap: 1rem;
}

.result_not_found {
  text-align: center;
  color: white;
  font-size: 2rem;
}

@media screen and (max-width: $SMARTPHONE) {
  .result_not_found {
    font-size: 1.5rem;
  }
}
