@use "../utilities/utilities.scss" as *;

.grass{
color: green;
}

.fire {
    color: orangered;
}

.water {
    color: aqua;
}

.bug{
    color: limegreen;
}

.psychic{
    color:purple;
}

.normal{
    color: crimson;
}

