@use "../utilities/utilities.scss" as *;

#side_fav_pokemons_section {
  width: 30vw;
  height: 100vh;
  background: white;
  position: fixed;
  z-index: 1000;
  top: 0%;
  left: 0%;
  color: red;
  transition: transform 1s ease-out;
  #side_fav_close_btn {
    @include posAbs(2%, null, 4%, null);
    background-color: white;
    border: none;
    font-size: 2rem;
    color: red;
  }
  img {
    max-width: 20%;
    max-height: 20%;
  }
}
