@use "../utilities/utilities.scss" as *;

#side_fav_pokemons_section {
  overflow-y: scroll;
  min-width: 22vw;
  max-width: 40vw;
  height: 100vh;
  background: white;
  position: fixed;
  z-index: 1000;
  top: 0%;
  left: 0%;
  text-align: center;
  display: flex;
  flex-direction: column;
  #heading_favorite_pokemons {
    margin-top: 1rem;
    text-align: center;
  }
  transition: transform 1s ease-out;
  .fav_pokemon_div {
    display: inline-block;
    vertical-align: middle;
  }

  li {
    position: relative;
  }

  .bin {
    border-radius: 1000px;
    border-color: black;
    background-color: black;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 1rem;
    @include posAbs(2%, null, 4%, null);
  }
  #name {
    font-weight: 500;
    border-bottom: 1px solid grey;

    :hover {
      text-decoration: line-through;
    }
  }

  #side_fav_close_btn {
    @include posAbs(2%, null, 4%, null);
    background-color: white;
    border: none;
    font-size: 2rem;
    color: red;
  }
  img {
    padding-top: 0.69rem;
    max-width: 40%;
    max-height: 20%;
  }
}

@media screen and (max-width: $LAPTOP) {
  #heading_favorite_pokemons {
    font-size: 1.4rem;
  }

  #side_fav_pokemons_section {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: $TABLET) {
  #heading_favorite_pokemons {
    font-size: 1.9rem;
    position: relative;
  }
  #side_fav_pokemons_section {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: $SMARTPHONE) {
  #heading_favorite_pokemons {
    font-size: 1rem;
    position: relative;
  }
  #side_fav_pokemons_section {
    font-size: 1rem;
    #side_fav_close_btn {
      @include posAbs(0.5%, null, -1%, null);
    }
  }
}
